/* Write your code here: */

/* h1 i h2 trebaju biti color:bluvoilet  na način da se blueviolet jednom definira  */

/* Do these things today!    color:firebrick preko child selectora; */

/* sve list item preko descendent selector color: blue*/

/* zadnje dvije list item preko chainig matode color: seagreen; */

/* other item postaviti font-size:0.5rem preko kombinacije kombinatora multiole combiner*/

h1,h2 {
    color: blueviolet;
}

div >p {
    color: firebrick;
}

ul li {
    color: blue;
}


li:nth-last-child(-n+2){
    color: seagreen;
}

p.done1 {
    font-size: 0.5em;
}